In [9]:
import pandas as pd

1. Importar el conjunto de datos de Población del INE:

   - Utiliza la librería Pandas para importar el archivo CSV del conjunto 9689 - "Población por provincia, sexo y edad" del sitio web del INE.

   2. Explorar y describir los datos:

   - Visualiza las primeras 10 filas del dataset para familiarizarte con la estructura y contenido de los datos.

In [10]:
df= pd.read_csv('./data/9689_filtred.csv', sep= ';')
sub_df= df.head(10)
# pd.set_option('display.max_rows', None)
sub_df

,Provincias,Grupo quinquenal de edad,Nacionalidad,Sexo,Periodo,Total
0,02 Albacete,De 0 a 4 años,Española,Hombres,1 de julio de 2022,"6.683,000000"
1,02 Albacete,De 0 a 4 años,Española,Hombres,1 de enero de 2022,"6.877,000000"
2,02 Albacete,De 0 a 4 años,Española,Hombres,1 de julio de 2019,"7.773,172848"
3,02 Albacete,De 0 a 4 años,Española,Hombres,1 de enero de 2019,"7.949,127128"
4,02 Albacete,De 0 a 4 años,Española,Mujeres,1 de julio de 2022,"6.195,000000"
5,02 Albacete,De 0 a 4 años,Española,Mujeres,1 de enero de 2022,"6.353,000000"
6,02 Albacete,De 0 a 4 años,Española,Mujeres,1 de julio de 2019,"7.088,918340"
7,02 Albacete,De 0 a 4 años,Española,Mujeres,1 de enero de 2019,"7.225,005011"
8,02 Albacete,De 5 a 9 años,Española,Hombres,1 de julio de 2022,"8.476,411935"
9,02 Albacete,De 5 a 9 años,Española,Hombres,1 de enero de 2022,"8.517,635349"

   - Identifica los tipos de datos de cada columna y asegúrate de que están correctamente asignados.

In [11]:
df.info()
# def Eliminar_coma(st):
#     temp= st.replace('.', '')
#     res= temp[0:st.rfind(',')]
#     # res= temp[0:st.rfind(',')]
#     # res= int(res)
#     return res

def Eliminar_coma(st):
    st= st.replace('.','')
    return int(st[0:st.rfind(',')])

lst= '8.517,635349'
# print(Eliminar_coma(lst))
df['Total']=df.apply(lambda row : Eliminar_coma(row['Total']), axis = 1)
# df['Total']= Eliminar_coma(df.loc[df['Total']])
# sub_df['item_price']= price_to_float(sub_df.loc[sub_df['item_price']])
# sub_df['item_price']=sub_df.apply(lambda row : price_to_float(row['item_price']), axis = 1)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7904 entries, 0 to 7903
Data columns (total 6 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Provincias                7904 non-null   object
 1   Grupo quinquenal de edad  7904 non-null   object
 2   Nacionalidad              7904 non-null   object
 3   Sexo                      7904 non-null   object
 4   Periodo                   7904 non-null   object
 5   Total                     7904 non-null   object
dtypes: object(6)
memory usage: 370.6+ KB

In [12]:
df.info()
sub_df = df.query('Periodo.str.contains("enero")')
sub_df['Periodo']=df['Periodo'].apply(lambda x: x[-4:])
sub_df
# sub_df= df.loc[(df['Periodo']== '1 de enero de 2019') | (df['Periodo']== '1 de enero de 2022')]
# sub_df.head(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7904 entries, 0 to 7903
Data columns (total 6 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Provincias                7904 non-null   object
 1   Grupo quinquenal de edad  7904 non-null   object
 2   Nacionalidad              7904 non-null   object
 3   Sexo                      7904 non-null   object
 4   Periodo                   7904 non-null   object
 5   Total                     7904 non-null   int64
dtypes: int64(1), object(5)
memory usage: 370.6+ KB

C:\Users\Usuario\AppData\Local\Temp\ipykernel_37192\334826929.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sub_df['Periodo']=df['Periodo'].apply(lambda x: x[-4:])

,Provincias,Grupo quinquenal de edad,Nacionalidad,Sexo,Periodo,Total
1,02 Albacete,De 0 a 4 años,Española,Hombres,2022,6877
3,02 Albacete,De 0 a 4 años,Española,Hombres,2019,7949
5,02 Albacete,De 0 a 4 años,Española,Mujeres,2022,6353
7,02 Albacete,De 0 a 4 años,Española,Mujeres,2019,7225
9,02 Albacete,De 5 a 9 años,Española,Hombres,2022,8517
...,...,...,...,...,...,...
7895,52 Melilla,De 85 a 89 años,Española,Mujeres,2019,463
7897,52 Melilla,90 y más años,Española,Hombres,2022,140
7899,52 Melilla,90 y más años,Española,Hombres,2019,105
7901,52 Melilla,90 y más años,Española,Mujeres,2022,299
7903,52 Melilla,90 y más años,Española,Mujeres,2019,273

In [13]:
hom_df= sub_df.loc[df['Sexo']== 'Hombres']
hom_df.head(5)
muj_df= sub_df.loc[df['Sexo']== 'Mujeres']
muj_df.head(5)

     Provincias Grupo quinquenal de edad Nacionalidad     Sexo Periodo  Total
5   02 Albacete            De 0 a 4 años     Española  Mujeres    2022   6353
7   02 Albacete            De 0 a 4 años     Española  Mujeres    2019   7225
13  02 Albacete            De 5 a 9 años     Española  Mujeres    2022   7877
15  02 Albacete            De 5 a 9 años     Española  Mujeres    2019   8599
21  02 Albacete          De 10 a 14 años     Española  Mujeres    2022   9197

Media de los hombres/Las mujeres/Total

In [14]:
hom_media= hom_df.loc[:, 'Total'].mean()
print(f'la media de los hombres= {hom_media}')
muj_media= muj_df.loc[:, 'Total'].mean()
print(f'la media de las mujeres= {muj_media}')
total_media= sub_df.loc[:, 'Total'].mean()
print(f'la media de total= {total_media}')

la media de los hombres= 20852.933198380568
la media de las mujeres= 21718.0754048583
la media de total= 21285.504301619432

Mediana de los hombres/Las mujeres/Total

In [15]:
hom_mediana= hom_df.loc[:, 'Total'].median()
print(f'la mediana de los hombres= {hom_mediana}')
muj_mediana= muj_df.loc[:, 'Total'].median()
print(f'la mediana de las mujeres= {muj_mediana}')
total_mediana= sub_df.loc[:, 'Total'].median()
print(f'la mediana de total= {total_mediana}')

la mediana de los hombres= 12656.5
la mediana de las mujeres= 13129.5
la mediana de total= 12911.0

desviación estándar de los hombres/Las mujeres/Total

In [21]:
hom_std= hom_df.loc[:, 'Total'].std()
print(f'La desviacion estandarde los hombres= {hom_std}')
muj_std= muj_df.loc[:, 'Total'].std()
print(f'La desviacion estandar de las mujeres= {muj_std}')
total_std= sub_df.loc[:, 'Total'].std()
print(f'La desviacion estandar de total= {total_std}')

La desviacion estandarde los hombres= 29444.287517225715
La desviacion estandar de las mujeres= 30371.900966716425
La desviacion estandar de total= 29911.03361052902

In [18]:
hom_max= hom_df.loc[:, 'Total'].max()
print(f'El maximo de los hombres = {hom_max}')
muj_max= muj_df.loc[:, 'Total'].max()
print(f'El maximo de las mujeres = {muj_max}')
total_max= sub_df.loc[:, 'Total'].max()
print(f'El maximo  de total = {total_max}')

El maximo de los hombres = 251988
El maximo de las mujeres = 259371
El maximo  de total = 259371

In [19]:
hom_min= hom_df.loc[:, 'Total'].min()
print(f'El minimo de los hombres= {hom_min}')
muj_min= muj_df.loc[:, 'Total'].min()
print(f'El minimo de las mujeres= {muj_min}')
total_min= sub_df.loc[:, 'Total'].min()
print(f'El minimo de total= {total_min}')

El minimo de los hombres= 105
El minimo de las mujeres= 273
El minimo de total= 105

In [20]:
sub_df

,Provincias,Grupo quinquenal de edad,Nacionalidad,Sexo,Periodo,Total
1,02 Albacete,De 0 a 4 años,Española,Hombres,2022,6877
3,02 Albacete,De 0 a 4 años,Española,Hombres,2019,7949
5,02 Albacete,De 0 a 4 años,Española,Mujeres,2022,6353
7,02 Albacete,De 0 a 4 años,Española,Mujeres,2019,7225
9,02 Albacete,De 5 a 9 años,Española,Hombres,2022,8517
...,...,...,...,...,...,...
7895,52 Melilla,De 85 a 89 años,Española,Mujeres,2019,463
7897,52 Melilla,90 y más años,Española,Hombres,2022,140
7899,52 Melilla,90 y más años,Española,Hombres,2019,105
7901,52 Melilla,90 y más años,Española,Mujeres,2022,299
7903,52 Melilla,90 y más años,Española,Mujeres,2019,273