In [49]:
import pandas as pd
import numpy as np
import matplotlib as plt

1. Importar el conjunto de datos de Población del INE:

   - Utiliza la librería Pandas para importar el archivo CSV del conjunto 9689 - "Población por provincia, sexo y edad" del sitio web del INE.

   2. Explorar y describir los datos:

   - Visualiza las primeras 10 filas del dataset para familiarizarte con la estructura y contenido de los datos.

In [3]:
df= pd.read_csv('./data/9689_filtred.csv', sep= ';')
df.head(10)
# pd.set_option('display.max_rows', None)
sub_df = df

   - Identifica los tipos de datos de cada columna y asegúrate de que están correctamente asignados.

In [75]:


def Eliminar_coma(x):
    x= x.replace('.','')
    return int(x[0:(',')])


sub_df['Total']=sub_df['Total'].apply(Eliminar_coma)

AttributeError: 'int' object has no attribute 'replace'

In [5]:
sub_df.info()
sub_df = sub_df.query('Periodo.str.contains("enero")')
sub_df['Periodo']=sub_df['Periodo'].apply(lambda x: x[-4:])
sub_df
# sub_df= df.loc[(df['Periodo']== '1 de enero de 2019') | (df['Periodo']== '1 de enero de 2022')]
# sub_df.head(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7904 entries, 0 to 7903
Data columns (total 6 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Provincias                7904 non-null   object
 1   Grupo quinquenal de edad  7904 non-null   object
 2   Nacionalidad              7904 non-null   object
 3   Sexo                      7904 non-null   object
 4   Periodo                   7904 non-null   object
 5   Total                     7904 non-null   int64
dtypes: int64(1), object(5)
memory usage: 370.6+ KB

C:\Users\Usuario\AppData\Local\Temp\ipykernel_36752\3301718853.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sub_df['Periodo']=sub_df['Periodo'].apply(lambda x: x[-4:])

,Provincias,Grupo quinquenal de edad,Nacionalidad,Sexo,Periodo,Total
1,02 Albacete,De 0 a 4 años,Española,Hombres,2022,6877
3,02 Albacete,De 0 a 4 años,Española,Hombres,2019,7949
5,02 Albacete,De 0 a 4 años,Española,Mujeres,2022,6353
7,02 Albacete,De 0 a 4 años,Española,Mujeres,2019,7225
9,02 Albacete,De 5 a 9 años,Española,Hombres,2022,8517
...,...,...,...,...,...,...
7895,52 Melilla,De 85 a 89 años,Española,Mujeres,2019,463
7897,52 Melilla,90 y más años,Española,Hombres,2022,140
7899,52 Melilla,90 y más años,Española,Hombres,2019,105
7901,52 Melilla,90 y más años,Española,Mujeres,2022,299
7903,52 Melilla,90 y más años,Española,Mujeres,2019,273

In [6]:
hom_df= sub_df.loc[df['Sexo']== 'Hombres']
hom_df.head(5)
muj_df= sub_df.loc[df['Sexo']== 'Mujeres']
muj_df.head(5)

     Provincias Grupo quinquenal de edad Nacionalidad     Sexo Periodo  Total
5   02 Albacete            De 0 a 4 años     Española  Mujeres    2022   6353
7   02 Albacete            De 0 a 4 años     Española  Mujeres    2019   7225
13  02 Albacete            De 5 a 9 años     Española  Mujeres    2022   7877
15  02 Albacete            De 5 a 9 años     Española  Mujeres    2019   8599
21  02 Albacete          De 10 a 14 años     Española  Mujeres    2022   9197

Media de los hombres/Las mujeres/Total

In [7]:
hom_media= hom_df.loc[:, 'Total'].mean()
print(f'la media de los hombres= {hom_media}')
muj_media= muj_df.loc[:, 'Total'].mean()
print(f'la media de las mujeres= {muj_media}')
total_media= sub_df.loc[:, 'Total'].mean()
print(f'la media de total= {total_media}')

la media de los hombres= 20852.933198380568
la media de las mujeres= 21718.0754048583
la media de total= 21285.504301619432

Mediana de los hombres/Las mujeres/Total

In [8]:
hom_mediana= hom_df.loc[:, 'Total'].median()
print(f'la mediana de los hombres= {hom_mediana}')
muj_mediana= muj_df.loc[:, 'Total'].median()
print(f'la mediana de las mujeres= {muj_mediana}')
total_mediana= sub_df.loc[:, 'Total'].median()
print(f'la mediana de total= {total_mediana}')

la mediana de los hombres= 12656.5
la mediana de las mujeres= 13129.5
la mediana de total= 12911.0

desviación estándar de los hombres/Las mujeres/Total

In [9]:
hom_std= hom_df.loc[:, 'Total'].std()
print(f'La desviacion estandarde los hombres= {hom_std}')
muj_std= muj_df.loc[:, 'Total'].std()
print(f'La desviacion estandar de las mujeres= {muj_std}')
total_std= sub_df.loc[:, 'Total'].std()
print(f'La desviacion estandar de total= {total_std}')

La desviacion estandarde los hombres= 29444.287517225715
La desviacion estandar de las mujeres= 30371.900966716425
La desviacion estandar de total= 29911.03361052902

In [10]:
hom_max= hom_df.loc[:, 'Total'].max()
print(f'El maximo de los hombres = {hom_max}')
muj_max= muj_df.loc[:, 'Total'].max()
print(f'El maximo de las mujeres = {muj_max}')
total_max= sub_df.loc[:, 'Total'].max()
print(f'El maximo  de total = {total_max}')

El maximo de los hombres = 251988
El maximo de las mujeres = 259371
El maximo  de total = 259371

In [11]:
hom_min= hom_df.loc[:, 'Total'].min()
print(f'El minimo de los hombres= {hom_min}')
muj_min= muj_df.loc[:, 'Total'].min()
print(f'El minimo de las mujeres= {muj_min}')
total_min= sub_df.loc[:, 'Total'].min()
print(f'El minimo de total= {total_min}')

El minimo de los hombres= 105
El minimo de las mujeres= 273
El minimo de total= 105

In [12]:
sub_df

,Provincias,Grupo quinquenal de edad,Nacionalidad,Sexo,Periodo,Total
1,02 Albacete,De 0 a 4 años,Española,Hombres,2022,6877
3,02 Albacete,De 0 a 4 años,Española,Hombres,2019,7949
5,02 Albacete,De 0 a 4 años,Española,Mujeres,2022,6353
7,02 Albacete,De 0 a 4 años,Española,Mujeres,2019,7225
9,02 Albacete,De 5 a 9 años,Española,Hombres,2022,8517
...,...,...,...,...,...,...
7895,52 Melilla,De 85 a 89 años,Española,Mujeres,2019,463
7897,52 Melilla,90 y más años,Española,Hombres,2022,140
7899,52 Melilla,90 y más años,Española,Hombres,2019,105
7901,52 Melilla,90 y más años,Española,Mujeres,2022,299
7903,52 Melilla,90 y más años,Española,Mujeres,2019,273

### 3. Análisis y transformaciones de datos

Identifica y maneja adecuadamente cualquier valor faltante en el dataset.

   - Calcula la Tasa de Variación Anual de la Población total (*1) entre los años 2019 y 2022.

   - Genera un gráfico de líneas que muestre la evolución de la población total a lo largo del tiempo.

*1) Tasa de variación anual de la población

Se trata de un indicador que mide el cambio porcentual de la población entre dos períodos distintos.


Para calcular la tasa de variación anual de la población entre dos períodos hay que identificar los valores de población total en cada periodo y aplicar la siguiente fórmula. 


Tasa de variación anual = ((Población P1 - Población P2) / Población P1) * 100

In [73]:
df= pd.read_csv('./data/9689.csv', sep= ';')

#df['Total'] = df['Total'].replace('',pd.)
df.dropna(inplace=True,axis= 1)

def Eliminar_coma(st):
    st= st.replace('.','')
    return int(st[0:st.rfind(',')])


df['Total']=df.apply(lambda row : Eliminar_coma(row['Total']), axis = 1)



df_T2019 = df.loc[(df['Periodo']=="1 de enero de 2019")&(df['Grupo quinquenal de edad']=='Total')&(df['Sexo']=='Ambos sexos')&(df['Nacionalidad']=='Total')&(df['Provincias']=='Total Nacional')]
df_T2019

#df['Total'] = (df['Total'].apply(lambda x: x=='' if 0 else int(x)))
df.info()

KeyError: 'Total'

In [35]:
df_T2022 = df.loc[(df['Periodo']=="1 de enero de 2022")&(df['Grupo quinquenal de edad']=='Total')&(df['Sexo']=='Ambos sexos')&(df['Nacionalidad']=='Total')&(df['Provincias']=='Total Nacional')]
df_T2022

,Provincias,Grupo quinquenal de edad,Nacionalidad,Sexo,Periodo,Total
1,Total Nacional,Total,Total,Ambos sexos,1 de enero de 2022,"47.432.892,943294"

In [28]:
#poblacion 1 = pobalcion 2019
#poblacion 2 = poblacion 2022

sub_dfP1 = sub_df.loc[sub_df['Periodo']=='2019']
P1 = sum(sub_dfP1['Total'])
print(sub_dfP1)
P1

       Provincias Grupo quinquenal de edad Nacionalidad     Sexo Periodo  \
3     02 Albacete            De 0 a 4 años     Española  Hombres    2019
7     02 Albacete            De 0 a 4 años     Española  Mujeres    2019
11    02 Albacete            De 5 a 9 años     Española  Hombres    2019
15    02 Albacete            De 5 a 9 años     Española  Mujeres    2019
19    02 Albacete          De 10 a 14 años     Española  Hombres    2019
...           ...                      ...          ...      ...     ...
7887   52 Melilla          De 80 a 84 años     Española  Mujeres    2019
7891   52 Melilla          De 85 a 89 años     Española  Hombres    2019
7895   52 Melilla          De 85 a 89 años     Española  Mujeres    2019
7899   52 Melilla            90 y más años     Española  Hombres    2019
7903   52 Melilla            90 y más años     Española  Mujeres    2019

      Total
3      7949
7      7225
11     9117
15     8599
19     9903
...     ...
7887    714
7891    228
7895    463
7899    105
7903    273

[1976 rows x 6 columns]

42095851

In [27]:
sub_dfP2 = sub_df.loc[sub_df['Periodo']=='2022']
P2 = sum(sub_dfP2['Total'])
print(sub_dfP2)
P2

       Provincias Grupo quinquenal de edad Nacionalidad     Sexo Periodo  \
1     02 Albacete            De 0 a 4 años     Española  Hombres    2022
5     02 Albacete            De 0 a 4 años     Española  Mujeres    2022
9     02 Albacete            De 5 a 9 años     Española  Hombres    2022
13    02 Albacete            De 5 a 9 años     Española  Mujeres    2022
17    02 Albacete          De 10 a 14 años     Española  Hombres    2022
...           ...                      ...          ...      ...     ...
7885   52 Melilla          De 80 a 84 años     Española  Mujeres    2022
7889   52 Melilla          De 85 a 89 años     Española  Hombres    2022
7893   52 Melilla          De 85 a 89 años     Española  Mujeres    2022
7897   52 Melilla            90 y más años     Española  Hombres    2022
7901   52 Melilla            90 y más años     Española  Mujeres    2022

      Total
1      6877
5      6353
9      8517
13     7877
17     9804
...     ...
7885    638
7889    241
7893    459
7897    140
7901    299

[1976 rows x 6 columns]

42024462

In [33]:
#Tasa de variación anual = ((Población P1 - Población P2) / Población P1) * 100

tva = ((P1-P2)/P1)*100
print(tva)
print("P2 == ", P2, "P1 == ", P1)

0.16958678421776058
P2 ==  42024462 P1 ==  42095851