### Introducci√≥n a la biblioteca Pandas

In [19]:
import pandas as pd, numpy as np

Pandas sirve para trabajar con dataFrames, hacer analisis con datos,

Importamos datos de un fichero de texto plano CSV

In [20]:
data = pd.read_csv('./data/mexican.tsv',sep='\t')

Imprimo las 10 primeras lineas de mi dataframe

In [21]:
data.head(3)

,Unnamed: 0,order_id,quantity,item_name,choice_description,item_price
0,0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,1,Izze,[Clementine],$3.39
2,2,1,1,Nantucket Nectar,[Apple],$3.39

Ver la estructura del dataframe

In [ ]:
data.info()

In [24]:
data.columns

Index(['Unnamed: 0', 'order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [27]:
data.to_csv('./data/backup.csv',sep = ';')