### Introducci√≥n a la biblioteca Pandas

In [193]:
import pandas as pd, numpy as np

Pandas sirve para trabajar con dataFrames, hacer analisis con datos,

Importamos datos de un fichero de texto plano CSV

In [194]:
data = pd.read_csv('./data/mexican.tsv',sep='\t')

Imprimo las 10 primeras lineas de mi dataframe

In [195]:
data.head(3)

,Unnamed: 0,order_id,quantity,item_name,choice_description,item_price
0,0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,1,Izze,[Clementine],$3.39
2,2,1,1,Nantucket Nectar,[Apple],$3.39

Ver la estructura del dataframe

In [196]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          4622 non-null   int64
 1   order_id            4622 non-null   int64
 2   quantity            4622 non-null   int64
 3   item_name           4622 non-null   object
 4   choice_description  3376 non-null   object
 5   item_price          4622 non-null   object
dtypes: int64(3), object(3)
memory usage: 216.8+ KB

In [197]:
data.columns

Index(['Unnamed: 0', 'order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

Como importar a un archvo

In [198]:
data.to_csv('./data/backup.csv',sep = ';')

##  Como ordenar los datos

In [199]:
data.item_name.sort_values(ascending=False).head(20)

3889    Veggie Soft Tacos
2851    Veggie Soft Tacos
738     Veggie Soft Tacos
1395    Veggie Soft Tacos
2384    Veggie Soft Tacos
1699    Veggie Soft Tacos
781     Veggie Soft Tacos
4573    Veggie Salad Bowl
455     Veggie Salad Bowl
496     Veggie Salad Bowl
2156    Veggie Salad Bowl
2683    Veggie Salad Bowl
3293    Veggie Salad Bowl
295     Veggie Salad Bowl
4109    Veggie Salad Bowl
2269    Veggie Salad Bowl
1316    Veggie Salad Bowl
2223    Veggie Salad Bowl
4541    Veggie Salad Bowl
3223    Veggie Salad Bowl
Name: item_name, dtype: object

mas ordenacion de datos, filtrado de datos

In [200]:
data.item_name=="Izze"

0       False
1        True
2       False
3       False
4       False
        ...
4617    False
4618    False
4619    False
4620    False
4621    False
Name: item_name, Length: 4622, dtype: bool

In [201]:
data[data.item_name =="Izze"]

      Unnamed: 0  order_id  quantity item_name choice_description item_price
1              1         1         1      Izze       [Clementine]     $3.39
24            24        12         1      Izze       [Grapefruit]     $3.39
47            47        21         1      Izze       [Blackberry]     $3.39
66            66        30         1      Izze       [Blackberry]     $3.39
359          359       155         1      Izze       [Blackberry]     $3.39
360          360       155         1      Izze       [Grapefruit]     $3.39
430          430       186         1      Izze       [Grapefruit]     $3.39
579          579       237         1      Izze       [Clementine]     $3.39
580          580       237         1      Izze       [Grapefruit]     $3.39
1059        1059       436         1      Izze       [Clementine]     $3.39
1213        1213       495         1      Izze       [Clementine]     $3.39
1611        1611       651         1      Izze       [Blackberry]     $3.39
1612        1612       651         1      Izze       [Blackberry]     $3.39
1680        1680       680         1      Izze       [Clementine]     $3.39
2088        2088       842         1      Izze       [Clementine]     $3.39
2619        2619      1040         1      Izze       [Clementine]     $3.39
2634        2634      1046         1      Izze       [Clementine]     $3.39
2758        2758      1095         1      Izze       [Blackberry]     $3.39
2891        2891      1149         1      Izze       [Blackberry]     $3.39
3669        3669      1468         1      Izze       [Blackberry]     $3.39

In [202]:
new_df=data[['choice_description','item_name','quantity','item_price']]

new_df

,choice_description,item_name,quantity,item_price
0,NaN,Chips and Fresh Tomato Salsa,1,$2.39
1,[Clementine],Izze,1,$3.39
2,[Apple],Nantucket Nectar,1,$3.39
3,NaN,Chips and Tomatillo-Green Chili Salsa,1,$2.39
4,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",Chicken Bowl,2,$16.98
...,...,...,...,...
4617,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",Steak Burrito,1,$11.75
4618,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",Steak Burrito,1,$11.75
4619,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",Chicken Salad Bowl,1,$11.25
4620,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",Chicken Salad Bowl,1,$8.75
4621,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",Chicken Salad Bowl,1,$8.75

In [203]:
new_df = new_df[new_df.item_name =='Izze']

new_df

     choice_description item_name  quantity item_price
1          [Clementine]      Izze         1     $3.39
24         [Grapefruit]      Izze         1     $3.39
47         [Blackberry]      Izze         1     $3.39
66         [Blackberry]      Izze         1     $3.39
359        [Blackberry]      Izze         1     $3.39
360        [Grapefruit]      Izze         1     $3.39
430        [Grapefruit]      Izze         1     $3.39
579        [Clementine]      Izze         1     $3.39
580        [Grapefruit]      Izze         1     $3.39
1059       [Clementine]      Izze         1     $3.39
1213       [Clementine]      Izze         1     $3.39
1611       [Blackberry]      Izze         1     $3.39
1612       [Blackberry]      Izze         1     $3.39
1680       [Clementine]      Izze         1     $3.39
2088       [Clementine]      Izze         1     $3.39
2619       [Clementine]      Izze         1     $3.39
2634       [Clementine]      Izze         1     $3.39
2758       [Blackberry]      Izze         1     $3.39
2891       [Blackberry]      Izze         1     $3.39
3669       [Blackberry]      Izze         1     $3.39

In [204]:
new_df.to_json('./izze.json',orient="records")

In [205]:
print((new_df.item_price))

1       $3.39
24      $3.39
47      $3.39
66      $3.39
359     $3.39
360     $3.39
430     $3.39
579     $3.39
580     $3.39
1059    $3.39
1213    $3.39
1611    $3.39
1612    $3.39
1680    $3.39
2088    $3.39
2619    $3.39
2634    $3.39
2758    $3.39
2891    $3.39
3669    $3.39
Name: item_price, dtype: object

In [206]:
col_sum = (data.quantity*data.item_price) 
col_sum

0               $2.39
1               $3.39
2               $3.39
3               $2.39
4       $16.98 $16.98
             ...
4617           $11.75
4618           $11.75
4619           $11.25
4620            $8.75
4621            $8.75
Length: 4622, dtype: object

Para insertar/aplicar una funcion una funcion 

Es CallBack

In [207]:
def dolar_to_float(x):
    return float(x[1:])

new_df

     choice_description item_name  quantity item_price
1          [Clementine]      Izze         1     $3.39
24         [Grapefruit]      Izze         1     $3.39
47         [Blackberry]      Izze         1     $3.39
66         [Blackberry]      Izze         1     $3.39
359        [Blackberry]      Izze         1     $3.39
360        [Grapefruit]      Izze         1     $3.39
430        [Grapefruit]      Izze         1     $3.39
579        [Clementine]      Izze         1     $3.39
580        [Grapefruit]      Izze         1     $3.39
1059       [Clementine]      Izze         1     $3.39
1213       [Clementine]      Izze         1     $3.39
1611       [Blackberry]      Izze         1     $3.39
1612       [Blackberry]      Izze         1     $3.39
1680       [Clementine]      Izze         1     $3.39
2088       [Clementine]      Izze         1     $3.39
2619       [Clementine]      Izze         1     $3.39
2634       [Clementine]      Izze         1     $3.39
2758       [Blackberry]      Izze         1     $3.39
2891       [Blackberry]      Izze         1     $3.39
3669       [Blackberry]      Izze         1     $3.39

In [208]:
#new_df.item_price = new_df.item_price.apply(dolar_to_float)
new_df.item_price = new_df.item_price.apply(lambda x : float(x[1:]))

new_df

C:\Users\Usuario\AppData\Local\Temp\ipykernel_5284\1976214604.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df.item_price = new_df.item_price.apply(lambda x : float(x[1:]))

     choice_description item_name  quantity  item_price
1          [Clementine]      Izze         1        3.39
24         [Grapefruit]      Izze         1        3.39
47         [Blackberry]      Izze         1        3.39
66         [Blackberry]      Izze         1        3.39
359        [Blackberry]      Izze         1        3.39
360        [Grapefruit]      Izze         1        3.39
430        [Grapefruit]      Izze         1        3.39
579        [Clementine]      Izze         1        3.39
580        [Grapefruit]      Izze         1        3.39
1059       [Clementine]      Izze         1        3.39
1213       [Clementine]      Izze         1        3.39
1611       [Blackberry]      Izze         1        3.39
1612       [Blackberry]      Izze         1        3.39
1680       [Clementine]      Izze         1        3.39
2088       [Clementine]      Izze         1        3.39
2619       [Clementine]      Izze         1        3.39
2634       [Clementine]      Izze         1        3.39
2758       [Blackberry]      Izze         1        3.39
2891       [Blackberry]      Izze         1        3.39
3669       [Blackberry]      Izze         1        3.39